body {
    margin: 0;
  
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    height: 575px;
    width: 385px;
    margin-left: auto;
    margin-right: auto;
}

h3{
    font-weight: 700;
    font-style: bold;
    font-size: 40px;
    height: 49px;
    width: 136px;
    color: #EEEEEE;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.scoreboard{
    width: 155px;
    height: 120px;
    background-color: #080001;
  

}

.score{
    width: 155px;
    height: 120px;
    color: #F94F6D;
    font-family: Cursed Timer ULiL;
    font-size: 90px; 
     display: flex;
    justify-content: center;
    align-items: center;
}

.number-row{
    width: 155px;
    height: 45px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 20px;
  
}

.number{
    font-family: Cursed Timer ULiL;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #9AABD8;
    border-radius: 5px;
    color: #9AABD8;
    background-color: #1B244A;
  
}